<div>
    <h1>This is the user skills page</h1>
    <form action="/addSkills" method = 'POST'>

        <label for="skills">Relevent Skills:</label>
        <input type="text" name="skills" id="skills" placeholder="Skills">

        <br>

        <label for="eduGpa">GPA:</label>
        <input type="number" name="eduGpa" id="eduGpa" placeholder="0.00">

        <br>

        <label for="experiences">Experiences:</label>
        <input type="text" name="experiences" id="experiences" placeholder="Experiences">

        <br>

        <label for="highestEdu">Highest Level of Education:</label>
        <input type="text" name="highestEdu" id="highestEdu" placeholder="Education">
        
        <br>

        <input type="submit" value="SUBMIT" />



    </form>
</div>