<div>
    <h1>This is the user skills page</h1>
    <form action="/users/addSkills" method = 'POST'>

        <label for="skills">Relevent Skills:</label>
        <input type="text" name="skills" id="skills" placeholder="Skills">

        <br>

        <label for="eduGpa">GPA:</label>
        <input type="number" name="eduGpa" id="eduGpa" placeholder="0.00">

        <br>

        <p>Experience: </p>
        <label for="years">Years:</label>
        <input type="text" name="years" id="years" placeholder="Years">

        <br>
        <label for="role">Role:</label>
        <input type="text" name="role" id="role">
        
        <br>
        <label for="responibilities">Responibilities:</label>
        <input type="text" name="responibilities" id="responibilities">

        <br>

        <label for="experienceName">Experience name:</label>
        <input type="text" name="experienceName" id="experienceName">
        <br>

        <label for="location">location:</label>
        <input type="text" name="location" id="location">

        <br>

        <label for="highestEdu">Highest Level of Education:</label>
        <input type="text" name="highestEdu" id="highestEdu" placeholder="Education">
        
        <br>

        <input type="submit" value="SUBMIT" />



    </form>
</div>