<form action="/blueprints/job">
    <label for="position">Position:</label>
    <input type="text" name="position" id="position">
    <br />
    <label for="description">Description:</label>
    <input type="text" name="description" id="description">
    <br />
    <label for="qualifications">Qualifications:</label>
    <input type="text" name="qualifications" id="qualifications">
    <br />
    
    <input type="submit" value="Submit">
</form>
