<form action="/blueprints/start" method="POST">
    <label for="blueprintName">Blue Print Name:</label>
    <input type="blueprintName" name="blueprintName" placeholder="blueprintName">
    <input type="submit" value="Submit">
</form>