<form action="/blueprints/start" method="POST">
    <label for="blueprintName">Choose a name for your blueprint:</label>
    <input type="text" name="blueprintName" id="blueprintName">
    <input type="submit" value="Submit">
</form>