<%- include('../partials/header.ejs')%>

<div class="container">
    <h1> Create a Blueprint</h1>
    <form action="/blueprints/start" method="POST" class="blueprint-form">
        <label for="blueprintName">Choose a name for your blueprint:</label>
        <input type="text" name="blueprintName" id="blueprintName" placeholder="Enter Blueprint name" required>
        <input type="submit" value="Submit">
    </form>
</div>